-- CreateTable
CREATE TABLE "colaboradores" (
    "id" TEXT NOT NULL,
    "nombre" TEXT NOT NULL,
    "apellido" TEXT NOT NULL,
    "cargo" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "ciudad" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "colaboradores_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "equipos" (
    "id" TEXT NOT NULL,
    "serial" TEXT NOT NULL,
    "marca" TEXT NOT NULL,
    "modelo" TEXT NOT NULL,
    "tipo" TEXT NOT NULL,
    "procesador" TEXT NOT NULL,
    "ram" INTEGER NOT NULL,
    "almacenamiento" TEXT NOT NULL,
    "gpu" TEXT NOT NULL,
    "ramDetalle" TEXT,
    "discosDetalle" TEXT,
    "gpuDetalle" TEXT,
    "almacenamientoTipo" TEXT,
    "almacenamientoGb" INTEGER,
    "tarjetaVideo" TEXT,
    "pantallas" INTEGER NOT NULL DEFAULT 0,
    "resolucionPantalla" TEXT,
    "tieneTeclado" BOOLEAN NOT NULL DEFAULT false,
    "tieneMouse" BOOLEAN NOT NULL DEFAULT false,
    "otrosPeriferico" TEXT,
    "estadoSalud" TEXT NOT NULL DEFAULT 'Bueno',
    "estado" TEXT NOT NULL DEFAULT 'Activo',
    "fechaAdquisicion" TIMESTAMP(3) NOT NULL,
    "fechaGarantia" TIMESTAMP(3),
    "colaboradorId" TEXT,
    "departamento" TEXT,
    "ubicacion" TEXT,
    "observaciones" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "equipos_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "servicios_tecnicos" (
    "id" TEXT NOT NULL,
    "tipo" TEXT NOT NULL,
    "fechaServicio" TIMESTAMP(3) NOT NULL,
    "problemas" TEXT NOT NULL,
    "soluciones" TEXT NOT NULL,
    "tiempoInvertido" INTEGER NOT NULL,
    "estadoResultante" TEXT NOT NULL,
    "diagnosticoIA" TEXT,
    "equipoId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "servicios_tecnicos_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "archivos" (
    "id" TEXT NOT NULL,
    "nombre" TEXT NOT NULL,
    "nombreAlmacenado" TEXT NOT NULL,
    "tipo" TEXT NOT NULL,
    "tamanio" INTEGER NOT NULL,
    "ruta" TEXT NOT NULL,
    "tipoEntidad" TEXT NOT NULL,
    "equipoId" TEXT,
    "servicioTecnicoId" TEXT,
    "descripcion" TEXT,
    "esImagen" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "archivos_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "mantenimientos_programados" (
    "id" TEXT NOT NULL,
    "tipo" TEXT NOT NULL,
    "descripcion" TEXT,
    "fechaProgramada" TIMESTAMP(3) NOT NULL,
    "horaEstimada" TEXT,
    "duracionEstimada" INTEGER,
    "esRecurrente" BOOLEAN NOT NULL DEFAULT false,
    "frecuencia" TEXT,
    "diasIntervalo" INTEGER,
    "fechaFinRecurrencia" TIMESTAMP(3),
    "estado" TEXT NOT NULL DEFAULT 'Pendiente',
    "fechaCompletado" TIMESTAMP(3),
    "equipoId" TEXT NOT NULL,
    "servicioTecnicoId" TEXT,
    "notificacion7dias" BOOLEAN NOT NULL DEFAULT false,
    "notificacion3dias" BOOLEAN NOT NULL DEFAULT false,
    "notificacion1dia" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "mantenimientos_programados_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "categorias_repuestos" (
    "id" TEXT NOT NULL,
    "nombre" TEXT NOT NULL,
    "descripcion" TEXT,
    "color" TEXT NOT NULL DEFAULT '#6366f1',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "categorias_repuestos_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "repuestos" (
    "id" TEXT NOT NULL,
    "numero" INTEGER NOT NULL,
    "nombre" TEXT NOT NULL,
    "descripcion" TEXT,
    "fotoUrl" TEXT,
    "categoriaId" TEXT,
    "cantidad" INTEGER NOT NULL DEFAULT 0,
    "cantidadMinima" INTEGER NOT NULL DEFAULT 1,
    "unidad" TEXT NOT NULL DEFAULT 'unidad',
    "ubicacion" TEXT,
    "proveedor" TEXT,
    "asignadoA" TEXT,
    "codigoInterno" TEXT,
    "activo" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "repuestos_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "movimientos_repuestos" (
    "id" TEXT NOT NULL,
    "repuestoId" TEXT NOT NULL,
    "tipo" TEXT NOT NULL,
    "cantidad" INTEGER NOT NULL,
    "cantidadAnterior" INTEGER NOT NULL,
    "cantidadNueva" INTEGER NOT NULL,
    "motivo" TEXT,
    "referencia" TEXT,
    "colaboradorId" TEXT,
    "notificacionEnviada" BOOLEAN NOT NULL DEFAULT false,
    "fotoUrl" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "movimientos_repuestos_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "usos_repuestos" (
    "id" TEXT NOT NULL,
    "repuestoId" TEXT NOT NULL,
    "servicioTecnicoId" TEXT NOT NULL,
    "cantidad" INTEGER NOT NULL,
    "notas" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "usos_repuestos_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "plantillas_mantenimiento" (
    "id" TEXT NOT NULL,
    "nombre" TEXT NOT NULL,
    "descripcion" TEXT,
    "tipo" TEXT NOT NULL,
    "problemasTipicos" TEXT NOT NULL,
    "solucionesTipicas" TEXT NOT NULL,
    "tiempoEstimado" INTEGER NOT NULL,
    "checklist" TEXT,
    "activa" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "plantillas_mantenimiento_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "colaboradores_email_key" ON "colaboradores"("email");

-- CreateIndex
CREATE UNIQUE INDEX "equipos_serial_key" ON "equipos"("serial");

-- CreateIndex
CREATE UNIQUE INDEX "mantenimientos_programados_servicioTecnicoId_key" ON "mantenimientos_programados"("servicioTecnicoId");

-- CreateIndex
CREATE UNIQUE INDEX "categorias_repuestos_nombre_key" ON "categorias_repuestos"("nombre");

-- CreateIndex
CREATE UNIQUE INDEX "repuestos_numero_key" ON "repuestos"("numero");

-- CreateIndex
CREATE UNIQUE INDEX "repuestos_codigoInterno_key" ON "repuestos"("codigoInterno");

-- AddForeignKey
ALTER TABLE "equipos" ADD CONSTRAINT "equipos_colaboradorId_fkey" FOREIGN KEY ("colaboradorId") REFERENCES "colaboradores"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "servicios_tecnicos" ADD CONSTRAINT "servicios_tecnicos_equipoId_fkey" FOREIGN KEY ("equipoId") REFERENCES "equipos"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "archivos" ADD CONSTRAINT "archivos_equipoId_fkey" FOREIGN KEY ("equipoId") REFERENCES "equipos"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "archivos" ADD CONSTRAINT "archivos_servicioTecnicoId_fkey" FOREIGN KEY ("servicioTecnicoId") REFERENCES "servicios_tecnicos"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "mantenimientos_programados" ADD CONSTRAINT "mantenimientos_programados_equipoId_fkey" FOREIGN KEY ("equipoId") REFERENCES "equipos"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "mantenimientos_programados" ADD CONSTRAINT "mantenimientos_programados_servicioTecnicoId_fkey" FOREIGN KEY ("servicioTecnicoId") REFERENCES "servicios_tecnicos"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "repuestos" ADD CONSTRAINT "repuestos_categoriaId_fkey" FOREIGN KEY ("categoriaId") REFERENCES "categorias_repuestos"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "movimientos_repuestos" ADD CONSTRAINT "movimientos_repuestos_repuestoId_fkey" FOREIGN KEY ("repuestoId") REFERENCES "repuestos"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "movimientos_repuestos" ADD CONSTRAINT "movimientos_repuestos_colaboradorId_fkey" FOREIGN KEY ("colaboradorId") REFERENCES "colaboradores"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "usos_repuestos" ADD CONSTRAINT "usos_repuestos_repuestoId_fkey" FOREIGN KEY ("repuestoId") REFERENCES "repuestos"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "usos_repuestos" ADD CONSTRAINT "usos_repuestos_servicioTecnicoId_fkey" FOREIGN KEY ("servicioTecnicoId") REFERENCES "servicios_tecnicos"("id") ON DELETE CASCADE ON UPDATE CASCADE;

